<a href="https://colab.research.google.com/github/Victorggmanvv/Python_Basico/blob/main/pre_master_nivel_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 00_helloworld.py

## Hola Mundo

### Nuestro hola mundo en python

In [ ]:
print("Hola Python")

Hola Python

In [ ]:
"""
Esto es
un comentario
en varias lineas
"""

'\nEsto es\nun comentario\nen varias lineas\n'

In [ ]:
print ("hola Mundo")

print (type ("prueba"))
print (type (5))
print (type (1.2))
print (type (False))
print (type (5j))
print (type (print ("prueba")))

hola Mundo
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
prueba
<class 'NoneType'>

# 01_variables.py

## Variables

In [ ]:
my_string_variable = "Texto"
print (my_string_variable)

my_int_variable = 4
print(my_int_variable)

my_bool_varible = False
print (my_bool_varible)

my_float_variable = 5.6
print (my_float_variable)

print (my_string_variable, my_bool_varible, my_float_variable, my_int_variable)

print("Este es el valor de", my_int_variable)

age = 37
name = "Victor"
surname = "Garcia"
print ("Me llamo", name, ",mi apellido es", surname, "y tengo", age, "años")

Texto
4
False
5.6
Texto False 5.6 4
Este es el valor de 4
Me llamo Victor ,mi apellido es Garcia y tengo 37 años

In [ ]:
name, surname,age = "Victor", "Garcia", 37
print ("Me llamo", name, ",","mi apellido es", surname, "y tengo", age, "años")

Me llamo Victor , mi apellido es Garcia y tengo 37 años

In [ ]:
my_int_variable = 5
my_int2_variable = str (my_int_variable)
print (my_int_variable, my_int2_variable)
print (type(my_int2_variable))
print (type (my_int_variable))

5 5
<class 'str'>
<class 'int'>

In [ ]:
print(len(my_string_variable))

5

In [ ]:
name = input("Cual es tu nombre? ")
age = input("Cual es tu edad? ")

print (name)
print (age)

Cual es tu nombre? e
Cual es tu edad? e
e
e

In [ ]:
# Forzamos el tipo
address: str = "Mi dirección"
address = 32
print (address)
print (type(address))

32
<class 'int'>

# 03_operadores.py

In [ ]:
### Operadores Aritméticos ###
print (3+4)
print (7%4)
print (10 //4)
print(3**3)
print ("Hola" + " " + "Python")
print ("Hola " + str(5))
print ("Hola" * 5)

7
3
2
27
Hola Python
Hola 5
HolaHolaHolaHolaHola

In [ ]:
### Operadores Comparativos ###
print (3<4)
print (3>4)
print (3>=4)
print (3<=4)
print (3==4)
print (3!=4)

True
False
False
True
False
True

#04_strings_py

# 05_lists_py

In [ ]:
my_list = list ()
my_other_list = []

print(len(my_list))

my_list = [35, 24, 62, 52, 30, 30, 17]

print(my_list)
print(len(my_list))

my_other_list = [35, 1.77, "Brais", "Moure"]

print(type(my_other_list))

print(my_other_list[-4])

print(my_list.count(30)) # Cuenta los valores que son iguales. Existen dos 30 en my_list

age, height, name, surname = my_other_list
print (name)

print(f"Mi nombre es {name} {surname} tengo {age} y peso {height}")

name, height, age, surname = my_other_list [2], my_other_list [1], my_other_list [0], my_other_list [3]
print (age)

my_other_list.append("MoureDev")
print(my_other_list)

my_other_list.insert(1, "Rojo")
print(my_other_list)

my_list.pop(2) #.pop elimina la posición de la lista que le indiquemos
print(my_list)

0
[35, 24, 62, 52, 30, 30, 17]
7
<class 'list'>
35
2
Brais
Mi nombre es Brais Moure tengo 35 y peso 1.77
35
[35, 1.77, 'Brais', 'Moure', 'MoureDev']
[35, 'Rojo', 1.77, 'Brais', 'Moure', 'MoureDev']
[35, 24, 52, 30, 30, 17]

# 06_tuplas.py

In [ ]:
my_tuple = tuple()
my_other_tuple = ()

my_tuple = (35, 1.77, "Brais", "Moure", "Brais")
my_other_tuple = (35, 60, 30)

# 08_conditionals.py

In [ ]:
my_condition = False

if my_condition:
  print("se ejecuta la condición del if")


my_condition = 1

if my_condition == 10:
  print("se ejecuta la condición del segundo if")

if my_condition > 10 and my_condition < 20:
  print("es mayor que 10 y menor de 20")
elif my_condition == 1:
  print("es igual a 1")
elif my_condition > 0.5:
  print("es mayor a 0.5")
else:
  print("es menor que 10 o mayor o igual que 20")

print ("la ejecución continua")

es igual a 1
la ejecución continua

# 09_loops.py

In [ ]:
contador = 0

while contador <= 4:
    print("Hola", contador)
    contador += 2

frutas = ["manzana", "pera", "uva"]
for fruta in frutas:
    print(fruta)

Hola 0
Hola 2
Hola 4
manzana
pera
uva

# 11_classes.py

In [ ]:
class MyEmptyPerson:
  pass

print(MyEmptyPerson)
print(MyEmptyPerson())

class Person:
  def __init__(self, name, surname):
    self.name = name
    self.surname = surname

my_person = Person("Brais", "Moure")
print (my_person.name)
print (my_person.surname)


class Person:
  def __init__(self, name, surname):
    self.full_name = f"{name} {surname}"

my_person = Person("Brais", "Moure")
print (my_person.full_name)

<class '__main__.MyEmptyPerson'>
<__main__.MyEmptyPerson object at 0x7bd35492f350>
Brais
Moure
Brais Moure